html {
    box-sizing: border-box;
    
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
h3,h4,p,ul,li{
    margin: 0;
    padding: 0;
}

body {
    
    background: #EDF3F8;

    // @font-face {
    //     font-family: 'DM Serif Display';
    //     src: url(../fonts/DMSerifDisplay-Regular.ttf);
    //     font-style: normal;
    //     font-weight: 400;
    // }

    // @font-face {
    //     font-family: 'Public Sans';
    //     src: url(../fonts/PublicSans-Bold.ttf);
    //     font-style: normal;
    //     font-weight: 700;
    // }

    // @font-face {
    //     font-family: 'Public Sans';
    //     src: url(../fonts/PublicSans-Regular.ttf);
    //     font-style: normal;
    //     font-weight: 400;
    // }
    
}