.container {
    max-width: 1125px;
    margin: 0 auto;
    padding: 40 165px;
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 40px 40px;
    }
}

@media only screen and (max-width: 667px) {
    .container {
        padding: 40px 20px;
    }
}